#records {
    max-height: 250px;
    overflow: scroll;
}

.sketching {
    background-color: red
}

.drawing {
    background-color: lightblue
}

.painting {
    background-color: green
}